In [69]:
from scipy.optimize import fmin
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from workadays import workdays as wd

path = r"C:\Users\Alysson\Documents\GitHub\Monetary-Shocks\Brasil\ETTJ\Base_LTN.xlsx"
df = pd.read_excel(path)
df.head()

  CODIGO DATA_REFERENCIA DATA_VENCIMENTO  EXPECTATIVA          PU
0    LTN      2023-07-03      2023-10-01      13.2025  968.996662
1    LTN      2023-07-03      2024-01-01      12.7468  942.225059
2    LTN      2023-07-03      2024-04-01      12.1642  918.761537
3    LTN      2023-07-03      2024-07-01      11.5298  897.786879
4    LTN      2023-07-03      2024-10-01      11.0232  877.471104

In [70]:
df["Maturity"] = df.apply(lambda row: wd.networkdays(row["DATA_REFERENCIA"], row["DATA_VENCIMENTO"]), axis=1)/252

In [71]:
df.set_index("DATA_REFERENCIA", inplace=True)

                CODIGO DATA_VENCIMENTO  EXPECTATIVA          PU  Maturity
DATA_REFERENCIA
2023-07-03         LTN      2023-10-01      13.2025  968.996662  0.250000
2023-07-03         LTN      2024-01-01      12.7468  942.225059  0.492063
2023-07-03         LTN      2024-04-01      12.1642  918.761537  0.738095
2023-07-03         LTN      2024-07-01      11.5298  897.786879  0.988095
2023-07-03         LTN      2024-10-01      11.0232  877.471104  1.250000
2023-07-03         LTN      2025-01-01      10.6656  858.630640  1.500000
2023-07-03         LTN      2025-04-01      10.4497  840.685083  1.746032
2023-07-03         LTN      2025-07-01      10.2747  823.292000  1.988095
2023-07-03         LTN      2026-01-01      10.0743  786.057522  2.503968
2023-07-03         LTN      2026-07-01      10.0886  750.074225  2.992063
2023-07-04         LTN      2023-10-01      13.1960  969.487535  0.246032
2023-07-04         LTN      2024-01-01      12.7652  942.598058  0.488095
2023-07-04         LTN      2024-04-01      12.1967  918.984681  0.734127
2023-07-04         LTN      2024-07-01      11.5752  897.816057  0.984127
2023-07-04         LTN      2024-10-01      11.0743  877.332110  1.246032
2023-07-04         LTN      2025-01-01      10.7236  858.301167  1.496032
2023-07-04         LTN      2025-04-01      10.5168  840.127385  1.742063
2023-07-04         LTN      2025-07-01      10.3460  822.556022  1.984127
2023-07-04         LTN      2026-01-01      10.1527  784.956311  2.500000
2023-07-04         LTN      2026-07-01      10.1640  748.826806  2.988095
2023-07-05         LTN      2023-10-01      13.2015  969.952917  0.242063
2023-07-05         LTN      2024-01-01      12.8013  942.900214  0.484127
2023-07-05         LTN      2024-04-01      12.2202  919.263876  0.730159
2023-07-05         LTN      2024-07-01      11.6220  897.837244  0.980159
2023-07-05         LTN      2024-10-01      11.1163  877.285802  1.242063
2023-07-05         LTN      2025-01-01      10.7804  857.989645  1.492063
2023-07-05         LTN      2025-04-01      10.5894  839.502068  1.738095
2023-07-05         LTN      2025-07-01      10.4280  821.667923  1.980159
2023-07-05         LTN      2026-01-01      10.2610  783.330763  2.496032
2023-07-05         LTN      2026-07-01      10.2869  746.626146  2.984127

In [76]:
df.groupby("DATA_REFERENCIA")
df

,CODIGO,DATA_VENCIMENTO,EXPECTATIVA,PU,Maturity,NSS,Calculated_price,Residual
DATA_REFERENCIA,,,,,,,,
2023-07-03,LTN,2023-10-01,13.2025,968.996662,0.250000,0.134593,968.924486,0.005209
2023-07-03,LTN,2024-01-01,12.7468,942.225059,0.492063,0.128475,942.259843,0.001210
2023-07-03,LTN,2024-04-01,12.1642,918.761537,0.738095,0.121747,918.697798,0.004063
2023-07-03,LTN,2024-07-01,11.5298,897.786879,0.988095,0.115761,897.418452,0.135739
2023-07-03,LTN,2024-10-01,11.0232,877.471104,1.250000,0.110841,876.869585,0.361825
2023-07-03,LTN,2025-01-01,10.6656,858.630640,1.500000,0.107400,858.110719,0.270317
2023-07-03,LTN,2025-04-01,10.4497,840.685083,1.746032,0.105025,839.984305,0.491090
2023-07-03,LTN,2025-07-01,10.2747,823.292000,1.988095,0.103464,822.228955,1.130064
2023-07-03,LTN,2026-01-01,10.0743,786.057522,2.503968,0.101907,784.278265,3.165755
2023-07-03,LTN,2026-07-01,10.0886,750.074225,2.992063,0.101745,748.324909,3.060107
2023-07-04,LTN,2023-10-01,13.1960,969.487535,0.246032,0.134675,969.392897,0.008956
2023-07-04,LTN,2024-01-01,12.7652,942.598058,0.488095,0.128585,942.667111,0.004768
2023-07-04,LTN,2024-04-01,12.1967,918.984681,0.734127,0.121851,919.054241,0.004839
2023-07-04,LTN,2024-07-01,11.5752,897.816057,0.984127,0.115847,897.740931,0.005644
2023-07-04,LTN,2024-10-01,11.0743,877.332110,1.246032,0.110905,877.172360,0.025520
2023-07-04,LTN,2025-01-01,10.7236,858.301167,1.496032,0.107446,858.404867,0.010754
2023-07-04,LTN,2025-04-01,10.5168,840.127385,1.742063,0.105056,840.275584,0.021963
2023-07-04,LTN,2025-07-01,10.3460,822.556022,1.984127,0.103484,822.520092,0.001291
2023-07-04,LTN,2026-01-01,10.1527,784.956311,2.500000,0.101913,784.570857,0.148575
2023-07-04,LTN,2026-07-01,10.1640,748.826806,2.988095,0.101744,748.616322,0.044303
2023-07-05,LTN,2023-10-01,13.2015,969.952917,0.242063,0.134756,969.862286,0.008214
2023-07-05,LTN,2024-01-01,12.8013,942.900214,0.484127,0.128694,943.075329,0.030665
2023-07-05,LTN,2024-04-01,12.2202,919.263876,0.730159,0.121955,919.411365,0.021753
2023-07-05,LTN,2024-07-01,11.6220,897.837244,0.980159,0.115933,898.063820,0.051337
2023-07-05,LTN,2024-10-01,11.1163,877.285802,1.242063,0.110970,877.475339,0.035924
2023-07-05,LTN,2025-01-01,10.7804,857.989645,1.492063,0.107492,858.699097,0.503323
2023-07-05,LTN,2025-04-01,10.5894,839.502068,1.738095,0.105088,840.566881,1.133826
2023-07-05,LTN,2025-07-01,10.4280,821.667923,1.980159,0.103505,822.811220,1.307129
2023-07-05,LTN,2026-01-01,10.2610,783.330763,2.496032,0.101918,784.863444,2.349111
2023-07-05,LTN,2026-07-01,10.2869,746.626146,2.984127,0.101742,748.907760,5.205764

In [73]:
for date, group in df.groupby("DATA_REFERENCIA"):

    def myval(c):
        df['NSS'] =(c[0])+(c[1]*((1-np.exp(-df['Maturity']*c[4]))/(df['Maturity']*c[4])))+(c[2]*((((1-np.exp(-df['Maturity']*c[4]))/(df['Maturity']*c[4])))-(np.exp(-df['Maturity']*c[4]))))+(c[3]*((((1-np.exp(-df['Maturity']*c[5]))/(df['Maturity']*c[5])))-(np.exp(-df['Maturity']*c[5]))))
        #discount = []
        #for index, row in df.iterrows():
            #discount.append((row['Coupon']/(1+df['NSS'])**df['Maturity'])[0:index+1].sum())
        #df['Discount'] = discount
        df['Calculated_price'] = 1000 / (1 + df['NSS']) ** df['Maturity'] #+ df['Discount']  
        df['Residual'] =  (df['PU'] - df['Calculated_price'])**2
        val = np.sum(df['Residual'])
        #print("[b1, b1, b2, b3, lda1, lda2]=",c,", SUM:", val)
        return(val)
    max_evaluations = 10000
    maxfun=max_evaluations
    c = fmin(myval, [0.11, 0.02, 0.09, -0.11, 2.5, 1.2])
print(date)

Optimization terminated successfully.
         Current function value: 19.549039
         Iterations: 503
         Function evaluations: 797
Optimization terminated successfully.
         Current function value: 19.549039
         Iterations: 503
         Function evaluations: 797
Optimization terminated successfully.
         Current function value: 19.549039
         Iterations: 503
         Function evaluations: 797
2023-07-05 00:00:00

In [61]:
c

array([ 0.68020625, -0.53752613,  3.10948779, -0.72364547])